body{
    color: green;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#cabecera
{
    font-size: 30px;
    color: red;
    border: 1px solid darkred;
}

#container h1
{
    font-size: 20px;
}

#nuevoEstilo
{
    width: 0em;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}